{%  extends "base.html" %}

{#--------------------------------------------------------------------------------------------------------#}
{#Jquey functionality to update the price corresponding to the variation#}

  <script>
          {% block jquery %}

              function setPrice()
              {
                var price = $(".variation_select option:selected").attr("data-price")


                var sale_price = $(".variation_select option:selected").attr("data-sale-price")
                if (sale_price != "" && sale_price != "None" && sale_price != null){
                    $("#price").html("<h3>"+ sale_price+" <small class='og-price'> "+price+"</small></h3>");
                }
                else
                {
                        $("#price").html(price);
                }
              }
              setPrice()


{#              This corresponds to the variation on the side of the product#}

              $(".variation_select").change(function () {

                setPrice();
{#                  var img = $(".variation_select option:selected").attr("data-img")#}
{#                  $("#img").attr("src",img)#}
              })

          {% endblock %}
  </script>
{#----------------------------------------------------------------------------------------------------------#}

{% block content %}
<div class="row">
<div class="col-sm-8">

    <h2>{{ object.title }}</h2>

    {% if object.productimage_set.all > 0 %}
    <div>
{% for img in object.productimage_set.all  %}
    <img class="img-responsive" src="{{ img.image.url }}" />
{#    <img id="img" class="img-responsive" src="{{ img.image.url }}" />#}
    {% endfor %}
    </div>
    {% endif %}
    <p class="lead">{{ object.description }}</p>
</div>
{#    if there  are more than one variation to our product#}




{#Product Sidebar#}

<div class="col-sm-4">

    {% if object.variations_set.count > 1 %}
    <h3 id="price">{{ object.variation_set.first.price }}</h3>
            <select class="form-control variation_select">
                {% for variations_obj in object.variations_set.all %}
                <option data-sale-price="{{ variations_obj.sale_price }}" data-price="{{ variations_obj.price }}" value="{{ variations_obj.id }}"> {{ variations_obj }}
                </option>
{#                      <option data-img="http://images.nationalgeographic.com/wpf/media-live/photos/000/942/overrides/star-beach-el-nido-philippines_94261_600x450.jpg" data-price="{{ variations_obj.price }}" value="{{ variations_obj.id }}"> {{ variations_obj }}#}
{#                </option>#}
                {% endfor %}
            </select>

    {% else %}

        <h3 id="price">{% if object.variation_set.first.sale_price %}

            {{ object.variation_set.first.sale_price }}
            <small class="og-price" >{{ object.variation_set.first.price }}</small>
{% else %}
                    {{ object.variation_set.first.price }}
            {% endif %}
</h3>
{% endif %}
    <br>
    <a href="#">Add to Cart</a>
<br/>
<hr>

<p>Share</p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x"></i>
</a>
<hr>
<h4>Related Products</h4>
</div>
</div>
{% endblock %}